body{
	font-size: 1.2em;
	background: rgb(125, 32, 168); 
	text-align: center;
	max-width: 410px;
	margin: 0 auto;
	font-family: Lato;
}
main, header{
	border: 2px solid black;
	border-radius: 3px;
	box-shadow: 3px 3px 7px gray;
	margin: 3px;
	background: rgb(254,252,234); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(254,252,234,1) 0%, rgba(252,245,58,1) 39%, rgba(252,245,58,1) 39%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(254,252,234,1) 0%,rgba(252,245,58,1) 39%,rgba(252,245,58,1) 39%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(254,252,234,1) 0%,rgba(252,245,58,1) 39%,rgba(252,245,58,1) 39%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefcea', endColorstr='#fcf53a',GradientType=0 ); /* IE6-9 */
}
h1{
	text-transform: uppercase;
	text-shadow: 1px 4px 3px #110202;
}
[type="number"]{
	width: 100px;
	font-size: 3.2em;
	text-align: center;
}
main{
	padding-bottom: 20px;
}

[type="number"]:invalid{
	color: red;
}
.newGameButton{
	background-color: #903232;
	color: white;
	font-size: 1em;
}
.won{
	background: rgb(180,227,145); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(180,227,145,1) 0%, rgba(97,196,25,1) 50%, rgba(180,227,145,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(180,227,145,1) 0%,rgba(97,196,25,1) 50%,rgba(180,227,145,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(180,227,145,1) 0%,rgba(97,196,25,1) 50%,rgba(180,227,145,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4e391', endColorstr='#b4e391',GradientType=0 ); /* IE6-9 */
}